* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 2vh;
    height: 96vh;
    background-color: antiquewhite;

    display: flex;
}

.logo_page,
.service_container {
    width: 50%;
}

.logo_page>*,
.service_container>* {
    margin: 4%;
}

p {
    text-align: justify;
    word-break: break-all;
}

/* ============================================================================ */

.logo_page img {
    width: 92%;
}

.logo_page p {
    font-size: 1.5em;
}

/* ============================================================================ */

/* 
    btn_collapseAll 버튼을 service_container 를 기준으로 배치하기 위해
    service_container 를 relative 로 .btn_collapseAll 을 absolute 로 설정.
*/
.service_container {
    position: relative;
}

.service_container p {
    padding: 10px;
    font-size: 1.2em;
}

.service_list {
    margin-bottom: 20px;
}

.service_header {
    background-color: darkslategray;
    color: white;
    cursor: pointer;
}

.service_body {
    background-color: #8fbc8f33;
}

/* ============================================================================ */

.btn_collapseAll {
    width: 120px;
    height: 30px;
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
}

.hidden .service_body {
    display: none;
}